<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <%= link_to 'Kalamepak', root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Gallery', home_gallery_path %></li>
      <li><%= link_to 'Fee', home_fee_path %></li>
      <li><%= link_to 'Books', home_books_path %></li>
      <li><%= link_to 'Contact Us', home_contact_us_path %></li>
      <li><%= link_to 'About', home_about_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", user_session_path %></li>
        <li><%= link_to "Join", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
